import styles from "./{{pascalCase name}}.module.css";

interface {{pascalCase name}}Props {
// Add props here
}

export function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <div className={styles.{{pascalCase name}} }>
      {{pascalCase name}}
    </div>
  );
}
